nav(class="shadow" data-controller="navbar")
    div(class="py-4 px-2 flex flex-row justify-between items-center")
        div(class="flex")
            h1(class="text-2xl ml-2") e2clothes
            div(class="ml-10 self-center hidden md:block")
                - var active = "nav-item-btn active"
                a(class=home ? active : "nav-item-btn" href="/") Home
                a(class=market ? active : "nav-item-btn" href="/market") Market
        i(class="fas fa-bars mr-4 sm:block md:hidden text-2xl cursor-pointer", data-action="click->navbar#toggle")
        if user != null
            // TODO: user drop down list
            div(class="relative mr-2 hidden md:block")
                - var avatar = user.avatar ? user.avatar : 'https://www.krocmemphis.org/wp-content/uploads/2016/10/generic-avatar.png'
                div(class="flex")
                    div(class="mr-6 cursor-pointer")
                        a(href="/cart")
                            i(class="relative fas fa-shopping-cart self-center border p-2 rounded-full hover:border-2 mt-1")
                                if user.numOfCart != null && user.numOfCart > 0
                                    span(class="absolute -right-1.5 -bottom-2 bg-red-400 text-white rounded-full text-xs p-1") #{user.numOfCart}
                    img(class="nav-user-avatar" src=avatar data-action="click->navbar#toggleUserMenu")
                // user dropdown menu
                ul(class="nav-user-dropdown hidden" data-navbar-target="usermenu")
                    li(class="py-2") Hi, #{user.userName}
                    li(class="nav-user-dropdown-item")
                        a(href="/user_info") Your Profile
                    each item in user_menus
                        li(class="nav-user-dropdown-item")
                            a #{item}
                    hr
                    li(class="nav-user-dropdown-item" data-action="click->navbar#signout") Sign Out
        else
            div(class="mr-2 hidden md:block")
                a(class="login-btn", href="/login") Login
                a(class="signup-btn" href="/signup") SignUp
    // responsive navbar
    div(class="hidden md:hidden w-screen" data-navbar-target="submenu")
        a(class="nav-menu-item" href="/") Home
        hr
        a(class="nav-menu-item" href="/market") Market
        hr
        if user != null
            a(class="nav-menu-item") Hi, #{user.userName}
            a(class="nav-menu-item" href="/cart") Your Cart
            a(class="nav-menu-item" href="/user_info") Your Profile
            each item in user_menus
                a(class="nav-menu-item") #{item}
                hr
            a(class="nav-menu-item" data-action="click->navbar#signout") Sign Out

        else
            a(class="nav-menu-item" href="/login") Login
            hr
            a(class="nav-menu-item"  href="/signup") SignUp
